<div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact us</h1>
            <p class="text-center sub-heading">
                we will be happy to help you
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <form action = "/contact" method = "POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" name = "name">
                </div>
                <div class="form-group">
                    <label for="emailid">Email</label>
                    <input type="email" class="form-control" id="emailid" placeholder="Enter your email" aria-describedby="emailHelp" name = "email">
                    <small id = "emailhelp" class = "form-text text-muted">We'll never share your email address with anyone</small>
                </div>
                <div class="form-group">
                    <label for="number">Phone</label>
                    <input type="number" class="form-control" id="number" placeholder="Enter your phone number" name = "phone">
                </div>
                <div class="form-group">
                    <label for="msg">Message</label>
                    <input type="text" class="form-control" id="msg" placeholder="Message" name= "message">
                </div>
                <div class = "mt-5">
                    <button type = "submit" class = "btn-style btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>