<div class="container-fluid mt-5 about-style about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">grow your bussiness with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <br>
                                <h4 class="mt-5">Social media marketing</h4>
                                <p>We use social media platforms and websites to promote your product or service</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                               <br>
                                <h4 class="mt-5">Google Ads</h4>
                                <p>By becoming a partner you gain access to exclusive resources and support from Google
                                    Ads representatives.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <br>
                                <h4 class = "servies-h">Search engine optimization</h4>
                                <p>Improving the quality and quantity of website traffic to a website or a web page from
                                    search engines</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <br>
                                <br>
                                <h4 class = "servies-h">Email marketing</h4>
                                <p>We send a commercial message to promote products or services using email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <br>
                                <br>
                                <h4 class = "servies-h">Affiliate marketing</h4>
                                <p>With affiliate marketing, you promote a product or service and earn a commission for
                                    each sale or completed transaction</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <br>
                                <br>
                                <h4 class = "servies-h">Content Marketing Services</h4>
                                <p>Creating a content marketing plan to satisfy the content needs of a business</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>